{% extends "Admin_Base.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="header">
                    <h4 class="title">
                        Application Administration
                    </h4>
                    <p class="category">
                        All tabels inside the application
                    </p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <tbody>
                            {% for i in app_models %}
                            {% if i != 'route-stop relationship' %}
                            <tr>
                                <td>
                                    <div style="line-height: 30px">
                                        {{i}}
                                        <div class="pull-right">
                                            
                                            <a class="btn btn-info " href="/app_admin/{% cycle 'stop' 'route' 'bus' 'user' 'request' 'reporter' as urls %}/add/" 
                                            style="line-height: 10px;">
                                                <div class="pe-7s-plus" style="font-size: 15px; padding-right: 10px;float: left;">
                                                </div>
                                                <div style="font-size: 15px;float: right; line-height: 15px;">Add</div>
                                            </a>
                                            
                                            
                                            <a class="btn btn-info" href="{% cycle 'stop' 'route' 'bus' 'user' 'request' 'reporter' as urls %}/" style="line-height: 10px; margin-left: 10px">
                                                <div class="pe-7s-config" style="font-size: 15px; padding-right: 10px; float: left;">
                                                </div>
                                                <div style="font-size: 15px;float: right; line-height: 15px;">View</div>
                                            </a>
                                        </div>
                                        
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
