{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Logged out" %}{% endblock %}

{% block content %}
	<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
			<div class="card card-signup">
				<div class="content">
					<div class="header header-primary text-center">
							<h4> {% trans "Logged out" %} </h4>
					</div>
					<div style="color: green; text-align: center; padding: 20px 20px 40px 20px;">
						<h4>
							{% blocktrans %}Successfully logged out. {% endblocktrans %}
						</h4>	
						<br />
						<a class="btn btn-primary" href="{% url 'auth_login' %}">{% trans "Log In again" %}</a>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
