{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "Password reset confirmation" %}{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
				<div class="card card-signup">
					<form class="form" method="post" action="."> {% csrf_token %}
						<div class="header header-primary text-center">
							<h4> Password Reset Confirmation </h4>
						</div>
						<div class="content">
						{% if not form %}
							<div style="text-align: center;">
								<br />
								<h6 style="color: #A31212;font-weight: 500;">
									EXPIRED or INVALID RESET link provided!!!
									<br />
									<a class="btn btn-primary" href="{% url 'auth_password_reset' %}">
									Try again to reset.
									</a>
									
								</h6>
								<br />
							</div>
						{% else %}

							<div style="text-align: center;">
								<h5 style="color: #9D3BB4">{% trans "Enter new password below to reset your password" %}</h5>
							</div>
	                        <div class="input-group">
	                            <span class="input-group-addon">
	                                <i class="material-icons">lock_outline</i>
	                            </span> 
	                        {{ form.new_password1|attr:'placeholder:New Password'|attr:'required'|add_class:"form-control"}}
	                        <div style="color: red;"> {{ form.new_password1.errors.as_text }} </div>
	                        </div>

	                        <div class="input-group">
	                            <span class="input-group-addon">
	                                <i class="material-icons">verified_user</i>
	                            </span> 
	                        {{ form.new_password2|attr:'placeholder:Confirm Password'|attr:'required'|add_class:"form-control"}}
	                        <div style="color: red;"> {{ form.new_password2.errors.as_text }} </div>
	                        </div>
	                    </div>
	                    <div class="footer text-center">
                            <button type="submit" class="btn btn-primary btn-wd btn-lg" text=" "> 
                            	Set Password
                            </button>
                        </div>
                    {% endif %}    
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}