{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
			<div class="card card-signup">
				<div class="content">
					<div class="header header-primary text-center">
							<h4> RESET LINK MAILED </h4>
					</div>
					<br />
					<h4 style="color: green; text-align: center;">
						{% blocktrans %}
					    We have sent you an email with a link to reset your password. Please check
					    your email and click the link to continue.
					    {% endblocktrans %}
					</h4>
					<br />
					<br />
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
