{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Activation email sent" %}{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
			<div class="card card-signup">
				<div class="header header-primary text-center">
					<h4> Activation Email Sent </h4>
				</div>
				<div class="content">
					<h4 style="color: green; text-align: center;">{% trans "Please check your email to complete the registration process." %}</h4>	
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}
